.card-widget.card-map
  .card-content
    .item-headline
      i.fa.fa-globe-asia(aria-hidden="true")
      span= _p('U•ェ•U')
    script#clstr_globe(type="text/javascript" defer="defer" src="//clustrmaps.com/globe.js?d=t2iwlD6PCNkxYvYGUnTYitU5fW5K7pX-hTRTuSCJ9Tg")